// HEADINGS=========================================================
// Address font sizes and margins set differently in IE 6/7.
// Address font sizes within `section` and `article` in Firefox 4+, Safari 5, and Chrome.
@mixin heading {
  font-family: Trebuchet MS, Serif, serif;
  font-weight: bold;
  margin: 1em 0 0.5em -0.06em; //left margin optimized for trebuchet h2
}
h1 {@include heading; font-size: 2rem;   }
h2 {@include heading; font-size: 1.5rem; }
h3 {@include heading; font-size: 1.17rem;}
h4 {@include heading; font-size: 1rem;   }
h5 {@include heading; font-size: 0.83rem;}
h6 {@include heading; font-size: 0.67rem;}


